@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nosifer&display=swap');

.glassmorphism{
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 3px );
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.neuromorphism{
   
    background: #D1D8EC;
    -webkit-box-shadow: 25px 25px 36px #54565e, -25px -25px 36px #ffffff;
    box-shadow: 25px 25px 36px #54565e, -25px -25px 36px #ffffff;
}
.background-image2 {
    background-image: url("/public/backgruond-image2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  @keyframes blob {
  0% { transform: translate(0px, 0px) scale(1); }
  33% { transform: translate(30px, -50px) scale(1.1); }
  66% { transform: translate(-20px, 20px) scale(0.9); }
  100% { transform: translate(0px, 0px) scale(1); }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}